main {
  height: 100vh;
  background-color: #0b0e11;
  display: flex;
  justify-content: center;
  color: #dee3ea;
}

.mainbody {
  background-color: #0b0e11;
  height: 100vh;
  width: 1400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section1 {
  display: flex;
  flex-direction: column;
  /* background-color: #151a21; */
  width: 45%;
  margin: 10px;
  margin-left: 50px;
  border-radius: 10px;
}

.overview {
  width: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  padding-top: 30px;
  border-radius: 10px;
}

.overview h1 {
  font-size: 22px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.overview p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.icon {
  color: #fd4d4d;
  margin-left: 5px;
}

.map {
  height: 400px;
  background-color: #151a21;
  margin: 10px;
  border-radius: 10px;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #151a21;
  width: 18%;
  height: 550px;
  margin: 10px;
  margin-top: 83px;
  border-radius: 10px;
}

.section2 p {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding-left: 10px;
  padding-top: 5px;
  /* margin-left: 10px; */
  text-transform: capitalize;
}

.tested {
  height: 120px;
  margin: 0px 10px;
  transition: all ease-in-out 0.2s;
  border-radius: 10px;
  background: linear-gradient(to right, #ff9f69, #ffc575);

  /* glassmorphism */
  /* background: #ff8e71; */
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.tested:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.tested h1 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  padding: 3px 10px;
}

.confirmed {
  height: 120px;
  margin: 0px 10px;
  transition: all ease-in-out 0.2s;
  border-radius: 10px;

  background: linear-gradient(to right, #7d4fdb, #8d57f0);

  /* glassmorphism */
  /* background: #28df99;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

.confirmed:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.confirmed h1 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  padding: 3px 10px;
}

.recovery {
  height: 120px;
  margin: 0px 10px;
  transition: all ease-in-out 0.2s;
  border-radius: 10px;

  background: linear-gradient(to right, #2f80ed, #56ccf2);

  /* glassmorphism */
  /* background: #7868e6;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}
.recovery:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.recovery h1 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  padding: 3px 10px;
}

.death {
  height: 120px;
  margin: 0px 10px;
  transition: all ease-in-out 0.2s;
  border-radius: 10px;
  background: linear-gradient(to right, #f14e51, #f55951);

  /* glassmorphism */
  /* background: #ef4f4f;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}
.death:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.death h1 {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  padding: 3px 10px;
}

.section3 {
  display: flex;
  flex-direction: column;
  background-color: #151a21;
  width: 20%;
  margin: 10px;
  margin-top: 83px;
  height: 550px;
  border-radius: 10px;
}

.section3 h1 {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin-left: 10px;
  text-transform: capitalize;
}

.table {
  margin: 0px 10px;
  overflow-y: scroll;
  /* background-color: #0b0e11; */
  height: 250px;
  /* border-radius: 10px; */
}

.table h1 {
  font-size: 14px;
}

.table::-webkit-scrollbar {
  display: none;
}

.table {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list h1 {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

.circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  /* background-color: #ffe268; */
  background-color: #b0efeb;
}

.list__info {
  display: flex;
  align-items: center;
}

.list__info h1 {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #5d7290;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select .MuiSelect-select {
  color: white;
  font-size: 14px;
}

.select .MuiSelect-icon {
  color: #f14e51;
}

.select .MuiSelect-outlined {
  border: 0px;
  outline: 0px;
}

.formcontrol {
  color: white;
}

.one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
